body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.home-link a{
    text-decoration: none; 
}

.home-link:hover {
    text-decoration: none; 
}

.home-link:hover h1 {
    color: #F27649;
}

.title  {
    padding: 15px 15px 15px 15px;
    color: #14A697;
}

.heading {
    color: #F27649;
    text-align: center;
    padding-top: 2.5%;
}