body {
    font-family: 'Roboto', sans-serif;
}

.home-link a{
    text-decoration: none; 
}

.home-link:hover {
    text-decoration: none; 
}

.home-link:hover h1 {
    color: #F27649;
}

.title  {
    padding: 15px 15px 15px 15px;
    color: #14A697;
}

.heading {
    color: #14A697;
    text-align: center;
    padding-top: 1%;
}

.container {
    padding-top: 2.5%;
}

.container h4 {
    padding-top: 2.5%;
}

footer {
    background-color: #14A697;
    opacity: 0.7;
    margin-top: 5%;
    padding: 1.5%;;
    color: #E5E5E5;
}