body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.home-link a{
    text-decoration: none; 
}

.home-link:hover {
    text-decoration: none; 
}

.home-link:hover h1 {
    color: #F27649;
}

.heading {
    text-align: center;
    font-size: 35px;
    color: #14A697;
}

.title  {
    padding: 15px 15px 15px 15px;
    color: #14A697;
}

.container {
    padding: 0% 22.5%;
    text-align: center;
    
}

.answers {
    display: grid;
    grid-template-columns: 50px 80px 80px 80px 50px;
    grid-template-rows: 50px 80px 80px 80px 50px;
    text-align: center;
    
}

.icon-button {
    text-align: center;
}

.scoreboard {
    margin: 0 0 0 80%;
    color: #14A697;
}


.leftarrowanswer {
    text-align: center;
    vertical-align: middle;
    height: 75px;
    line-height: 75px;
}

.rightarrowanswer {
    
    height: 75px;
    line-height: 75px;

}

h3 {
    text-align: center;
    vertical-align: middle;
}

span {
    vertical-align: middle;
}
.uparrowanswer {
    text-align: center;
    
}

.downarrowanswer {
    text-align: center;
}

.question {
    text-align: center;
    padding-top: 5%;
    color: #14A697;
    font-size: 5em;
}

h2 {
    color: #14A697;
}

#upOption {
    color: #F27649;
    font-size: 2.5em;

}

#downOption {
    color: #F27649;
    font-size: 2.5em;

}

#leftOption {
    color: #F27649;
    font-size: 2.5em;
}

#rightOption {
    color: #F27649;
    font-size: 2.5em;

}